@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  font-family: Work Sans;
}

h1 {
  margin: 0;
}

nav {
  width: 50vw;
  color: white;
  display: flex;
  align-items: center;
  height: fit-content;
  padding: 1vw;
  margin: 1vw;
  border-radius: 1vw;
  background: #181821;
}

.center {
  width: 100%;
  display: flex;
  justify-content: center;
}

.logo {
  margin-right: 1vw;
}

.navheader {
  font-size: 2vw;
}
